/packages
/TestResults
/Postmark.Processor/bin
/Postmark.Processor/obj
/postmark-processor.test/obj
/postmark-processor.test/bin
/Saleshub.Messages/bin
/Saleshub.Messages/obj
/Send/obj
/Send/bin
/Receive/obj
/Receive/bin
/2013/parsing_email.test/TestResults
/2013/parsing_email.test/packages
/2013/parsing_email.test/Saleshub.Messages/obj
/2013/parsing_email.test/Saleshub.Messages/bin
/2013/parsing_email.test/parsing_email.test/obj
/2013/parsing_email.test/parsing_email.test/bin
